<i18n lang="yml">
en:
  title: "Displaced Trash Assistant"
nl:
  title: "Bijplaatsingen Assistent"
</i18n>

<template>
  <header :class="$style['appheader']">
    <div :class="$style['logo']" class="hidden md:flex">
      <SvgLogo />
    </div>

    <p :class="$style['apptitle']">
      {{ $t("title") }}
    </p>

    <nuxt-link
      :to="switchLocalePath($i18n.locale !== 'nl' ? 'nl' : 'en')"
      :class="$style['localeswitch']"
    >
      <AmsIcon icon="IconGlobe" :class="$style['localeswitch-icon']" />
      <span :class="$style['localeswitch-text']">{{ $i18n.locale !== 'nl' ? 'Nederlands' : 'English' }}</span>
    </nuxt-link>
  </header>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api";

export default defineComponent({
  name: "AmsHeader",

  components: {
    AmsIcon: () => import("~/components/_elements/Icon/Icon.vue"),
    SvgLogo: () => import("~/assets/img/logo_gemeente_amsterdam.svg"),
  },
});
</script>

<style lang="postcss">
:root {
  --appheader-height: 4rem;

  @screen md {
    --appheader-height: 4.375rem;
  }
}
</style>

<style lang="postcss" module>
.appheader {
  height: var(--appheader-height, 4.375rem);

  @apply border-b-8 border-gray-150 flex justify-between items-center bg-white select-none;

  .logo {
    width: 7.5rem;

    @apply hidden;

    @screen md {
      @apply flex flex-col justify-center items-center pl-3 h-full;
    }
  }

  .apptitle {
    @apply flex flex-auto items-center px-5 h-full leading-none text-xl font-semibold;

    @screen md {
      @apply text-2xl;
    }
  }
}

.localeswitch {
  @apply flex items-center mr-4 cursor-pointer font-medium;

  &-icon {
    margin-right: 0.325em;
    width: 1em;
    height: 1em;
  }

  &-text {
    border-bottom: 2px solid transparent;

    @apply inline-block pt-1 pb-0 leading-none;
  }

  &:hover,
  &:focus {
    @apply no-underline text-black font-bold;

    .localeswitch-text {
      border-color: currentColor;
    }
  }
}
</style>
