/* Page transtions */
.page-enter-active,
.page-leave-active {
  transition:
    opacity 250ms ease,
    transform 400ms ease;
}

.page-enter,
.page-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.page-leave-active {
  position: absolute;
}

/* Fade in and out */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 250ms ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Fade in and out (list) items */
.fade-items-enter-active,
.fade-items-leave-active {
  transition: opacity 250ms ease;
}

.fade-items-enter,
.fade-items-leave-to {
  opacity: 0;
}


.fade-items-leave-active {
  position: absolute;
}

.fade-items-move {
  transition: transform 150ms ease-in;
}

/* Zap out */
.zap-h-enter-active,
.zap-h-leave-active {
  transition: opacity 250ms ease;

  td {
    transition: padding 400ms ease;

    div {
      transition: height 400ms ease;
      overflow: hidden;
    }
  }
}

.zap-h-enter,
.zap-h-leave-to {
  opacity: 0;

  td {
    padding: 0;

    div {
      height: 0;
    }
  }
}
