<template>
  <div :class="$style['loading']">
    <div :class="$style['loader']">
      Loading...
    </div>
  </div>
</template>

<style lang="postcss" module>
.loading {
  @apply text-red-800 font-bold;

  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
  }

  .loader {
    position: relative;
    transform: translateZ(0) scale(0.85);
    box-shadow: inset 0 0 0 1em;
    width: 10em;
    height: 10em;
    text-indent: -99999em;
    font-size: 4px;

    @apply text-red-800;
  }

  .loader:before,
  .loader:after {
    position: absolute;
    content: '';
  }

  .loader:before {
    top: -0.1em;
    left: -0.1em;
    transform-origin: 5.1em 5.1em;
    border-radius: 10.2em 0 0 10.2em;
    width: 5.2em;
    height: 10.2em;
    animation: loading 1.5s infinite ease 1.125s;

    @apply bg-white;
  }

  .loader:after {
    top: -0.1em;
    left: 4.9em;
    transform-origin: 0.1em 5.1em;
    border-radius: 0 10.2em 10.2em 0;
    width: 5.2em;
    height: 10.2em;
    animation: loading 1.5s infinite ease;

    @apply bg-white;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>
