<template>
  <div
    :class="$style['progressbar']"
    :style="`
      height: ${height};
      background-color: ${bgColor};
    `"
  >
    <div
      :class="$style['progress']"
      :style="`
        width: calc(${progressMade} * 100%);
        background-color: ${color};
      `"
    />
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref,
} from "@nuxtjs/composition-api";
import useGlobals from "~/composables/globals";

interface ColorRange {
  from: number
  to: number
  color: string
}

const { COLORS } = useGlobals();

export default defineComponent({
  name: "AmsProgressBar",

  props: {
    total: {
      type: Number,
      default: 100,
    },
    progress: {
      type: Number,
      default: 0,
    },
    height: {
      type: String,
      default: "4px",
    },
    bgColor: {
      type: String,
      default: COLORS.gray[100],
    },
    barColorDefault: {
      type: String,
      default: COLORS.blue[700],
    },
    colorRange: {
      type: Array,
      default: () => [
        {
          from: 0,
          to: 60,
          color: COLORS.red[800],
        },
        {
          from: 60,
          to: 90,
          color: COLORS.orange[800],
        },
        {
          from: 90,
          to: 100,
          color: COLORS.green[800],
        },
      ] as ColorRange[],
    },
  },

  setup (props) {
    const progressMade = ref(0);

    const color = computed(() => {
      const inRange: any = props.colorRange
        ? props.colorRange.find((range: ColorRange) => props.progress > range.from && props.progress <= range.to)
        : null;

      return inRange && inRange.color ? inRange.color : props.barColorDefault;
    });

    setTimeout(() => {
      progressMade.value = props.progress / props.total;
    }, 100);

    return {
      progressMade,
      color,
    };
  },
});
</script>

<style lang="postcss" module>
.progressbar {
  height: 4px;

  @apply relative w-full;

  .progress {
    transition: width 500ms ease-in-out;
    width: 0px;

    @apply absolute left-0 h-full;
  }
}
</style>
