<i18n lang="yml">
  en:
    top_locations: "Top locations"
    top_locations_in: "Top locations in"
    cycle_current: "Current cycle"
    cycle_historical: "Historical cycles"
    filter_on: "Filter on"
    problem_location: "problem locations"
    attention_location: "attention locations"
    other_location: "not ABP locations"
  nl:
    top_locations: "Toplocaties"
    top_locations_in: "Toplocaties in"
    cycle_current: "Huidige cyclus"
    cycle_historical: "Historische cycli"
    filter_on: "Filteren op"
    problem_location: "probleemlocaties"
    attention_location: "aandachtslocaties"
    other_location: "niet ABP-locaties"
</i18n>

<template>
  <div :class="$style['strategic-panel-tables']">
    <AmsPageTitle class="flex">
      <div class="flex items-center">
        {{ $t(contentOptions.title) }}
      </div>
      <AmsFilterSelect
        v-if="getRouteBaseName() === 'strategic-historical'"
        filter-id="district"
        :current-value="STATE.filters.valueFor.district"
        :open-indicator="'SvgArrowheadDown'"
        :variant="'underlined'"
        class="inline-block max-w-none w-auto"
        style="margin-top: 0; min-width: 140px; height: 100%;"
        @filterApplied="onSelectDistrict"
      />
    </AmsPageTitle>

    <AmsNav v-if="contentOptions.enableNav">
      <nuxt-link :to="localePath('/strategic/current')" tabindex="-1">
        <AmsButton :variant="'underlined'">
          <span>{{ $t("cycle_current") }}</span>
        </AmsButton>
      </nuxt-link>

      <nuxt-link :to="localePath('/strategic/historical')" tabindex="-1">
        <AmsButton :variant="'underlined'">
          <span>{{ $t("cycle_historical") }}</span>
        </AmsButton>
      </nuxt-link>
    </AmsNav>

    <template v-if="contentOptions.enableTopLocTable">
      <AmsTopLocTable :table-groups="rankingDistricts" />

      <transition name="fade">
        <div v-if="STATE.filters.valueFor.district !== 'all'" style="margin-block: 30px;">
          <AmsHeading class="flex mt-6">
            <div class="flex items-center select-none">
              {{ $t("filter_on") }}
            </div>
            <AmsFilterSelect
              filter-id="location_type"
              :options="[
                {
                  value: 'problem_location',
                  label: $t('problem_location'),
                },
                {
                  value: 'attention_location',
                  label: $t('attention_location'),
                },
                {
                  value: 'other_location',
                  label: $t('other_location'),
                },
              ]"
              :current-value="STATE.filters.valueFor.location_type"
              :open-indicator="'SvgArrowheadDown'"
              :variant="'underlined'"
              class="inline-block w-auto max-w-none"
              style="margin-top: 0;"
              @filterApplied="onSelectDistrict"
            />
          </AmsHeading>

          <AmsTopLocTable :table-groups="rankingTopLoc75" />
        </div>
      </transition>
    </template>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  inject,
  ref,
  watch,
} from "@nuxtjs/composition-api";

// Composables
import useTopLocPrep from "./composables/toploc-prep";
import useGlobals from "~/composables/globals";

export default defineComponent({
  name: "AmsStrategicPanelTables",

  components: {
    AmsPageTitle: () => import("~/components/_elements/Text/PageTitle.vue"),
    AmsHeading: () => import("~/components/_elements/Text/Heading.vue"),
    AmsButton: () => import("~/components/_elements/Form/Button.vue"),
    AmsFilterSelect: () => import("~/components/FilterInputs/FilterSelect.vue"),
    AmsNav: () => import("~/components/_patterns/Nav/Nav.vue"),
    AmsTopLocTable: () => import("~/components/Views/Strategic/TopLocTable/TopLocTable.vue"),
  },

  props: {
    contentOptions: {
      type: Object,
      required: true,
    },
  },

  setup () {
    const { DISTRICT_ID_MAP } = useGlobals();
    const store: any = inject("store");
    const {
      topLocDistrictsTableSchema,
      topLoc75TableSchema,
      fetchTopLocDistricts,
      fetchTopLoc75ForDistrict,
    } = useTopLocPrep();

    const rankingDistricts = ref(topLocDistrictsTableSchema);
    const rankingTopLoc75 = ref(topLoc75TableSchema);

    function setRankingTopDistricts () {
      store.setAsLoaded("topLocDistricts", false);

      const fetchedRankingDistricts = fetchTopLocDistricts();

      fetchedRankingDistricts
        .then((data: any) => {
          rankingDistricts.value = data;
          store.setAsLoaded("topLocDistricts", true);
        })
        .catch((error) => {
          console.error(error);
          store.setAsLoaded("topLocDistricts", true);
        })
      ;
    }

    setRankingTopDistricts();

    function setRankingTopLoc75 (id) {
      store.setAsLoaded("topLoc75", false);

      const fetchedRankingTopLoc75 = fetchTopLoc75ForDistrict(id);

      fetchedRankingTopLoc75
        .then((data) => {
          // @ts-ignore
          rankingTopLoc75.value = data;

          rankingTopLoc75.value
            .filter(tableGroup => tableGroup.tag === "tbody")[0].rows
            .forEach((d) => {
              if (!store.STATE.clusterIds[d.cluster_location.subValue.id]) {
                // eslint-disable-next-line
                const { id, remote_id } = d.cluster_location.subValue;
                store.setClusterId(id, remote_id, d.cluster_location.value);
              }
            })
          ;
          store.setAsLoaded("topLoc75", true);
        })
        .catch((error) => {
          console.error(error);
          store.setAsLoaded("topLoc75", true);
        })
      ;
    }

    if (store.STATE.filters.valueFor.district !== "all") {
      setRankingTopLoc75(DISTRICT_ID_MAP[store.STATE.filters.valueFor.district]);
    }

    watch(() => store.STATE.filters.valueFor.district, (newValue) => {
      if (newValue !== "all") {
        rankingTopLoc75.value = topLoc75TableSchema;
        setRankingTopLoc75(DISTRICT_ID_MAP[newValue]);
      } else {
        rankingTopLoc75.value = [];
      }
    });

    function onSelectDistrict () {
      console.info("Filter not working yet! :-)");
    }

    return {
      STATE: store.STATE,
      rankingDistricts,
      rankingTopLoc75,
      onSelectDistrict,
    };
  },
});
</script>

<style lang="postcss" module>
.strategic-panel-tables {
  padding: 30px;
  width: 100%;
  height: 100%;

  @apply overflow-auto bg-gray-100 text-left;
}
</style>
