<template>
  <component :is="tag" :class="$style['table-cell']">
    <slot />
  </component>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api";

export default defineComponent({
  name: "AmsTableCell",

  props: {
    tag: {
      type: String,
      default: "td",
      validator: value => value === "th" || value === "td",
    },
  },
});
</script>

<style lang="postcss" module>
.table-cell {
  @apply p-2;
}

td.table-cell {
  @apply bg-white align-top;
}
</style>
