<template>
  <tr
    :class="[
      $style['table-row'],
      isEmpty ? $style['is-empty'] : null,
      hasShadow ? $style['has-shadow'] : null,
      isActionable ? $style['is-actionable'] : null,
      isActive ? $style['is-active'] : null,
    ]"
  >
    <slot />
  </tr>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api";

export default defineComponent({
  name: "AmsTableRow",

  props: {
    isEmpty: {
      type: Boolean,
      default: false,
    },
    hasShadow: {
      type: Boolean,
      default: false,
    },
    isActionable: {
      type: Boolean,
      default: false,
    },
    isActive: {
      type: Boolean,
      default: false,
    },
  },
});
</script>

<style lang="postcss" module>
.table-row {
  td {
    transition: border-color 500ms ease;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    &:first-of-type {
      border-left: 2px solid transparent;
    }

    &:last-of-type {
      border-right: 2px solid transparent;
    }
  }

  &.has-shadow {
    td {
      border-color: #f5f5f5;
    }
  }

  &.is-empty {
    @apply shadow-none border-none p-0 bg-transparent;

    td {
      @apply bg-transparent p-0 h-1;
    }
  }

  &.is-actionable:not([disabled]):not(.is-disabled) {
    &:hover,
    &:focus,
    &.is-highlighted,
    &[data-focus-visible-added],
    &.is-active {
      @apply cursor-pointer outline-none;

      td {
        border-color: #e6e6e6;
      }

      &.has-shadow {
        transform: scaleY(1.05);
        transition: transform 250ms ease;

        td {
          transition: box-shadow 250ms ease;
          box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  &.is-active {
    td {
      border-color: #e6e6e6;
    }
  }

  &.is-disabled,
  &[disabled] {
    @apply opacity-50;

    &:focus,
    &:hover {
      @apply cursor-default outline-none;
    }
  }
}
</style>
