<template>
  <div
    :class="[$style['labelswitch'], !checkmarkValue ? $style['checkmark'] : null]"
    :style="`--checkbox-bg-color: ${color}; --checkbox-checkmark: '${checkmarkValue ? checkmarkValue : ''}';`"
  >
    <input
      :id="switchKey"
      :checked="switchChecked"
      :name="switchKey"
      type="checkbox"
      tabindex="-1"
      @input="$emit('on-input', $event.target.checked, $event)"
    >

    <label
      :for="switchKey"
      tabindex="0"
      @keydown.space="() => {
        const inputEl = $event.target.parentElement.querySelector('input');

        inputEl.checked = !inputEl.checked;

        $emit('on-input', inputEl.checked, $event);
      }"
    >
      <slot name="labelContent" />
    </label>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
} from "@nuxtjs/composition-api";

export default defineComponent({
  name: "AmsLabelSwitch",

  props: {
    switchChecked: {
      type: Boolean,
      default: false,
    },
    switchKey: {
      type: String,
      default: `switchKey${Math.round(Math.random() * 1000)}`,
    },
    color: {
      type: String,
      default: "#000",
    },
    checkmarkValue: {
      type: String,
      default: null,
    },
  },
});
</script>

<style lang="postcss" module>
.labelswitch {
  --checkbox-checkmark: "";

  @apply relative flex items-center justify-center mr-6;

  input {
    @apply absolute left-0 invisible opacity-0 w-0 h-0;

    & ~ label::after {
      --checkmark-icon-size: 12px;

      transform: translate(1.5px, 8.5px);
      width: var(--checkmark-icon-size, 12px);
      height: var(--checkmark-icon-size, 12px);
      content: var(--checkbox-checkmark, "");

      @apply flex items-center justify-center absolute top-0 left-0 rounded-full opacity-100 text-white text-xs;
    }

    &:checked {
      @apply visible;
    }
  }

  &.checkmark {
    input {
      &:checked {
        & ~ label::after {
          transform: translate(2px, 7px);
          background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11'%3E%3Cpath d='M4.415 9.182l-3.803-4 .906-.863 2.909 3.063L9.68 2.016l.894.872z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
        }
      }
    }
  }

  label {
    @apply flex items-center justify-center pt-1;

    &::before {
      transform: translateY(-1px);
      background-color: var(--checkbox-bg-color, #000);
      content: "";

      @apply block mr-2 w-4 h-4 text-white;
    }

    &:hover {
      @apply cursor-pointer;

      &::before {
        opacity: 0.5;

        @apply cursor-pointer;
      }
    }

    &:focus {
      @apply outline-none;
    }
  }
}
</style>
