<template>
  <AmsTable
    :class="[
      $style['scans-table'],
      enableViewOptions && STATE.rightPanelOpen ? $style['is-reduced'] : null
    ]"
  >
    <component
      :is="tableGroup.tag === 'thead' ? 'AmsScansTableHead' : 'AmsScansTableBody'"
      v-for="(tableGroup, index) in tableGroups"
      :ref="tableGroup.tag"
      :key="`${tableGroup.tag}${index}`"
      :rows="tableGroup.tag === 'thead' ? tableGroup.rows : rows"
      :t-g-index="index"
      :foldable-rows="tableGroup.foldableRows"
      :enable-view-options="enableViewOptions"
      :open-filters-row="openFiltersRow"
      :style="`max-width: ${tableGroup.tag === 'thead' ? 'calc(100% - 10px)' : '100%'}`"
    >
      <template #endrow>
        <slot name="endrow" />
      </template>
    </component>
  </AmsTable>
</template>

<script lang="ts">
import {
  defineComponent,
  inject,
  onBeforeUnmount,
  ref,
} from "@nuxtjs/composition-api";
import useRowFoldout from "~/composables/row-foldout";

export default defineComponent({
  name: "AmsScansTable",

  components: {
    AmsTable: () => import("~/components/_elements/Table/Table.vue"),
    AmsScansTableHead: () => import("./ScansTableHead.vue"),
    AmsScansTableBody: () => import("./ScansTableBody.vue"),
  },

  props: {
    rows: {
      type: Array,
      default: () => [],
    },
    enableViewOptions: {
      type: Boolean,
      required: true,
    },
    openFiltersRow: {
      type: Boolean,
      default: false,
    },
  },

  setup () {
    const { STATE } = inject("store");
    const { foldoutState } = useRowFoldout();

    const tBody = ref(null);

    const tableGroups = inject("tableGroups");

    // Reset sorting and filtering before routing.
    onBeforeUnmount(() => {
      foldoutState.openedFilters = false;
      foldoutState.openedFoldout = null;
    });

    return {
      STATE,
      tBody,
      tableGroups,
    };
  },
});
</script>

<style lang="postcss" module>
.scans-table {
  min-width: 1024px;

  @apply mt-8;

  &.is-reduced {
    min-width: 600px;
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}
</style>
