<i18n lang="yml">
en:
  all: "All"
  problem_location: "Problem location"
  attention_location: "Attention location"
  other_location: "No ABP location"
nl:
  all: "Alle"
  problem_location: "Probleemlocatie"
  attention_location: "Aandachtslocatie"
  other_location: "Geen ABP-locatie"
</i18n>

<template>
  <AmsTableRow
    :has-shadow="true"
    :class="$style['foldout']"
  >
    <template v-for="(cell, index) of filteredCells">
      <AmsTableCell
        v-show="!cell.isHidden"
        :key="index"
        :colspan="colspan"
        :class="[
          $style['foldout-inner'],
          hideColumns && STATE.enableMapSwitch && cell.hideable ? 'opacity-0 x2l:table-cell x2l:opacity-1' : null,
        ]"
        :style="hideColumns && STATE.enableMapSwitch && cell.hideable ? 'padding: 0px; width: 0px;' : 'padding: 5px;'"
      >
        <template v-if="showFilters">
          <component
            :is="filterComponents[cell.id] || null"
            v-if="cell.filterable"
            :filter-id="cell.id"
            :options="cell.id === 'location_type' ? [
              {
                value: 'all',
                label: $t('all'),
              },
              {
                value: 'problem_location',
                label: $t('problem_location'),
              },
              {
                value: 'attention_location',
                label: $t('attention_location'),
              },
              {
                value: 'other_location',
                label: $t('other_location'),
              },
            ] : null"
            :current-value="STATE.filters.valueFor[cell.id]"
            :compact="true"
          />
        </template>
        <template v-else>
          <component
            :is="'AmsDetails'"
            :blocks="cell"
          />
        </template>
      </AmsTableCell>
    </template>
  </AmsTableRow>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  inject,
} from "@nuxtjs/composition-api";

export default defineComponent({
  name: "AmsScansTableRowFoldout",

  components: {
    AmsTableRow: () => import("~/components/_elements/Table/TableRow.vue"),
    AmsTableCell: () => import("~/components/_elements/Table/TableCell.vue"),
    AmsFilterSelect: () => import("~/components/FilterInputs/FilterSelect.vue"),
    AmsFilterInput: () => import("~/components/FilterInputs/FilterInput.vue"),
    AmsDetails: () => import("~/components/Views/Operational/ScanDetails/ScanDetails.vue"),
  },

  props: {
    showFilters: {
      type: Boolean,
      default: false,
    },
    colspan: {
      type: Number,
      default: 0,
    },
    cells: {
      type: Object,
      default: () => {},
    },
    hideColumns: {
      type: Boolean,
      default: true,
    },
  },

  setup (props) {
    const { STATE } = inject("store");

    const foldoutProps = ["last_scan", "cluster_location", "location_type", "item_cardboard", "item_bags", "item_bulky"];

    const filterComponents = computed(() => {
      return {
        cluster_location: "AmsFilterInput",
        quarter: "AmsFilterInput",
        area: "AmsFilterInput",
        location_type: "AmsFilterSelect",
      };
    });

    const filteredCells = computed(() => {
      let iterator: object | [] = [];

      if (props.showFilters) {
        iterator = [{ id: "" }, ...Object.values(props.cells)];
      } else {
        iterator = [{}];

        for (const key in props.cells) {
          if (foldoutProps.includes(key)) {
            iterator[0][key] = props.cells[key];
          }
        }
      }

      return iterator;
    });

    return {
      STATE,
      filterComponents,
      filteredCells,
    };
  },
});
</script>

<style lang="postcss" module>
.foldout {
  &-inner {
    @apply px-0;
  }
}
</style>
