<i18n lang="yml">
en:
  hi: "Hi"
nl:
  hi: "Hoi"
</i18n>

<template>
  <div
    :class="$style['usermenu']"
  >
    <span class="hidden md:inline">{{ $t("hi") }}, <strong>Jegnie Verber</strong></span>
    <span class="inline md:hidden">👨</span>
    <span :class="$style['circumflex']">⌄</span>
  </div>
</template>

<style lang="postcss" module>
.usermenu {
  flex: 0 1 5rem;

  @apply flex justify-end items-center pr-4 w-full h-full text-right leading-tight;

  @screen md {
    min-width: 16rem;
  }

  .circumflex {
    @apply inline-flex text-xl text-gray-150;
  }
}
</style>
